html {
  background-color:hsl(0, 0%, 98%);

}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 30%);
  background-color:hsl(0, 71%, 46%);
  background: url("./../images/image-mockups.png"),
    url("./../images/bg-intro-desktop.svg");
  background-size: auto 700px, 700px 700px;
  background-position: 100% 10%, 100% 10%;
  background-repeat: no-repeat, no-repeat;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 4em;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 8em;
}

.link-container {
  margin-left: auto;
  display: flex;
  flex-basis: 200px;
  width: 50em;
}

.link-container > p {
  margin-right: 1.5em;
  font-weight: 800;
  font-size: 0.8em;
}

.links {
  text-decoration: none;
  color: hsl(0, 0%, 30%);
}

.links:hover {
  color: #2bb7d8;
}

.btn {
  border-radius: 2em;
  height: 3em;
  padding: 0 2.5em;
  background-image: linear-gradient(to right, #31d06c, #2bb7d8);
  border: 0px;
  margin-left: auto;
  color: white;
  font-weight: 700;
}

.section1-container {
  margin-left: 8em;
}

.section-item1 {
  width: 35%;
  padding: 12em 0;
}

.heading-height {
  font-weight: 800;
  color: hsl(233, 26%, 24%);
}

.paragraph-style {
  font-weight: 700;
  margin: 1.5em 0;
  line-height: 1.4;
  font-size: 0.8em;
}

.section-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 98%);
}

.section-container2 .item1 {
  margin: 0 8em;
  width: 100%;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-3em {
  font-size: 3em;
}

.font-size-1-5em {
  font-size: 1.2em;
}

.section-container2 .item2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3em 8em;
  flex-wrap: wrap;
  padding-bottom: 5em;
}

.icon-online {
  height: 100px;
  width: 100px;
  background: url("./../images/icon-online.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.icon-budgeting {
  height: 100px;
  width: 100px;
  background: url("./../images/icon-budgeting.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.icon-onboarding {
  height: 100px;
  width: 100px;
  background: url("./../images/icon-onboarding.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.icon-api {
  height: 100px;
  width: 100px;
  background: url("./../images/icon-api.svg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8em;
}

.article-container .item1 {
  width: 100%;
}

.article-container .item2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3em 0em;
  flex-wrap: wrap;
}

.article-container .item2 > article {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.image {
    height:200px;
    width:250px;
    border-radius:.2em;
}

.article-writer {
    font-size:.5em;
    margin:2em 0;
}


